# Server
SERVER_PORT=4981          # Port used by local dev &amp; docker container
SERVER_LOG_LEVEL=debug    # debug | trace
DB_PATH=../../data/observe.db
# STORAGE_ADAPTER=sqlite
# ENABLE_WEBSOCKET=true
# CLIENT_DIST_PATH=       # Path to built client assets (production only)

# Client (Vite dev server)
CLIENT_PORT=5174          # Only relevant for local dev
